/*
 * My Account General Styles
 */

.s-account {
    .l-myaccount {
        padding-top: 50px;
        padding-bottom: 25px;
        position: relative;

        @include respond-to(phones) {
            padding-top: 20px;
            padding-bottom: 10px;
        }

        .account_navigation {
            position: absolute;
            top: 0;
            width: 180px;

            @include respond-to(phones) {
                display: none;
            }
        }

        .g-page_myaccount {
            margin: 0 0 0 200px;
            border-left: 1px solid #ccc;

            @include respond-to(phones) {
                margin: 0;
                border: none;
            }

            &-inner {
                width: 100%;
                min-height: 500px;
                padding: 0 0 0 25px;

                @include respond-to(tablets) {
                    width: 100%;
                }
                @include respond-to(phones) {
                    width: 100%;
                    min-height: 0;
                    padding: 0;
                }
            }

            .productcarousel {
                padding-top: 30px;
            }

            .bg_title_box {
                font-size: 16px;
            }
        }

        .myaccount_loyalty_banner_image {
            margin-bottom: 20px;

            @include respond-to(phones) {
                margin-left: -20px;
                margin-right: -20px;
            }
        }

        /* LOYALTY */
        .bonus_points_data {
            .loyaltypoint_main {

                @include respond-to(phones) {
                    padding-top: 0;
                }
            }

            h3 {
                display: inline-block;
                font: bold 30px/20px $font_times;
                text-transform: uppercase;
                letter-spacing: -0.5px;
                margin: 0.67em 0;

                @include respond-to(phones) {
                    font-size: 18px;
                    letter-spacing: 0;
                    margin-bottom: 20px;
                }
            }

            .loyalty_box {
                padding-top: 20px;
                padding-bottom: 20px;
                clear: both;

                &-title {
                    font: 21px/24px $font_helvetica;
                    padding: 6px 0 8px;
                    text-align: center;

                    @include respond-to(phones) {
                        font-size: 16px;
                    }

                    span {
                        display: block;
                        margin: 10px 0 0 0;
                    }
                }

                &-inner {
                    text-align: center;
                    padding: 5px 25px;
                }

                &-result {
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 1;

                    @include respond-to(phones) {
                        font-size: 24px;
                    }

                    span {
                        font-size: 20px;
                    }
                }

                &.loyalty_status {
                    .loyalty_box-title {
                        border: none;
                        padding-bottom: 10px;
                    }

                    img {
                        margin-top: 20px;
                        height: 90px;
                    }

                    .loyalty_box-result {
                        font-size: 24px;
                        text-decoration: underline;
                    }
                }

                &.loyalty_next_tier {
                    border-bottom: none;

                    .loyalty_box-title {
                        border: none;
                        font-weight: bold;
                    }

                    > p {
                        text-align: center;
                        font-size: 16px;
                        line-height: 22px;
                        padding: 5px 0 20px;
                        font-weight: bold;
                    }
                }

                &.loyalty_balance {
                    p {
                        text-align: center;
                        font: 14px/20px $font_helvetica;

                        @include respond-to(phones) {
                            font-size: 12px;
                        }

                        a {
                            color: #000;
                        }
                    }
                }

                &.next_tier_box {
                    p {
                        margin: 5px auto 0;
                        font-size: 14px;
                        text-align: center;
                        max-width: 260px;
                        line-height: 1.5;
                    }
                }
            }

            .loyalty_tierexpiry {
                margin-top: 15px;
                font-size: 14px;
            }

            .loyaltypoint_data {
                float: left;
                width: 50%;

                @include respond-to(phones) {
                    width: 100%;
                }

                .loyalty_box {
                    border-bottom: 1px solid #dbdbdb;

                    &.next_tier_box {
                        border-bottom: none;
                    }
                }

                &-inner {
                    padding-right: 20px;

                    @include respond-to(phones) {
                        padding-left: 0;
                        padding-right: 0;
                        margin: 0 -20px;
                    }
                }
            }

            .loyaltypoint_sidebar {
                float: right;
                width: 50%;

                @include respond-to(phones) {
                    float: none;
                    width: auto;
                    clear: both;
                    margin: 0 -20px;
                    border-top: 1px solid #dbdbdb;
                }

                &-inner {
                    padding-left: 20px;

                    @include respond-to(phones) {
                        padding-left: 0;
                    }

                    .loyalty_box-title {
                        padding-bottom: 10px;
                    }
                }
            }

            .loyalty_upcoming_batches-data {
                width: 100%;
                border-top: 1px solid #dbdbdb;

                tr {
                    border-bottom: 1px solid #dbdbdb;

                    @include respond-to(phones) {
                        display: none;

                        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                            display: table-row;
                        }
                    }
                }

                td {
                    font-family: $font_helvetica;
                    text-align: center;
                    padding: 9px 0;
                    width: 50%;
                    font-size: 14px;

                    @include respond-to(phones) {
                        font-size: 12px;
                        padding: 4px 0;
                    }
                }

                .data-attribute {
                    color: #191919;
                }

                .data-value {
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            .show_all {
                .loyalty_upcoming_batches-data tr {
                    display: table-row;
                }

                .show_more_button {
                    display: none;
                }
            }

            .show_more_button {
                display: none;
                text-align: center;
                margin: 20px 0 40px;
                font: bold 14px/20px $font_helvetica;
                text-decoration: underline;
                @include respond-to(phones) {
                    display: block;
                }
            }
        }

    }
    &.s-order_history {
        .g-page_myaccount-inner {
            width: 100%;
        }
    }
}

.social-points {
    &.iframe {
        margin: 70px 0 20px 200px;
        border-left: 1px solid #ccc;

        iframe {
            min-height: 1000px;
        }

        .social-inner {
            width: 100%;
            padding: 0 0 0 25px;

            @include respond-to(phones) {
                padding: 0;
            }
        }

        .myaccount_loyalty_banner_image {
            margin-bottom: 25px;
        }

        @include respond-to(tablets) {
            width: 72%;

            iframe {
                min-height: 700px;
            }
        }

        @include respond-to(phones) {
            float: none;
            clear: both;
            width: 100%;
            margin: 19px auto;
            border: 0;
        }

        .mobile-menu-section {
            li:last-child a {
                background: #000;
                color: #fff;
            }
        }
    }

    &.link-with-fb {
        float: left;
        width: 80%;
        padding: 70px 20px 0;
        font: 14px/20px $font_arial;

        a {
            @include links(#000, underline);
        }

        @include respond-to(tablets) {
            width: 72%;
        }

        @include respond-to(phones) {
            float: none;
            clear: both;
            width: 100%;
        }
    }
}

@include respond-to(phones) {
    .l-myaccount {
        .secondary.account_navigation {
            display: none;
        }
    }
}

.s-favorites,
.s-samples,
.s-account-autoreplenishment {
    .g-page_myaccount-inner {
        width: 100% !important;
    }
}

.authenticatedUser .guest-only {
    display: none;
}

/*
 * account-navigation-registered Asset
 */

.account_navigation_registered {
    h1 {
        margin: 0 0 30px;
        padding: 0 0 8px;
        color: #000;
        font: normal 25px/26px $font_times;
    }
}

.account-navigation-registered {
    li {
        border-bottom: 1px solid #d3d3d3;
        margin: 0;
        &:first-child {
            margin: 0;
        }
    }
    a {
        @include links(#000, none);

        &:after {
            margin: 4px 0;
        }

        font: bold 11px/18px $font_helvetica;
        text-transform: uppercase;
        padding: 7px 0;
        display: block;

        &:after {
            @include font_icons( $icon_arrow-thin-right );
            float: right;
        }

        &.selected {
            font-weight: bold;
            color: #c00 !important;
        }
    }
    .b-title {
        margin: 25px 0 5px;
        color: #000;
        font: bold 14px/18px $font_times;
        text-transform: uppercase;
    }
}
/*END account-navigation-registered Asset*/

/*
 * My Account Landing page
 */

.b-account_landing {
    h3 {
        display: inline-block;
        font: bold 30px/20px $font_times;
        text-transform: uppercase;
        letter-spacing: -0.5px;

        @include respond-to(phones) {
            font-size: 18px;
            letter-spacing: 0;
            margin-bottom: 20px;
        }
    }
    .dialogify {
        @include links(#000, underline, $color-dark_red);

        float: right;
        font: 12px/20px $font_arial;

        @include respond-to(phones) {
            @include button();
            @include button-color-black();
            @include button-general(0 10px);

            width: 100%;
            margin-bottom: 35px;
            float: none;
            color: #fff !important;
            text-decoration: none !important;
        }
    }
    .gigyaLoginParent {
        padding-top: 10px;
    }
    #gigyaLoginContainerRegistration,
    #gigyaLoginContainerRegistration > table {
        .lt-ie10 & {
            width: 240px !important;
        }
    }
}

.s-account {
    .b-registration_submit { // overwrite styles of this block that used on register page and gigya popup
        padding: 0;
        border: none;
        text-align: left;
    }
}

/*
 * Account Info Block (Landing Page)
 */

.b-account_info {
    &-content {
        @include clearfix;

        margin: 20px 0 8px;
        padding: 44px 0 20px;
        font: 14px/20px $font_arial;
        border-top: 1px dotted #121212;
        border-bottom: 1px dotted #bdbdbd;

        @include respond-to(phones) {
            border: none;
            margin: 0 0 25px;
            padding: 0;
        }
    }
    &-details {
        width: 50%;
        float: left;
        line-height: 24px;

        @include respond-to(phones) {
            width: 100%;
            float: none;
            margin-bottom: 30px;
        }

        strong {
            display: inline-block;
            font-weight: bold;
            margin-right: 10px;
            width: 120px;

            .zh_hk-section-css & {
                width: 80px;
            }

            &:after {
                content: ":";
                float: right;
            }
        }

        .block_sociallogin {
            strong {
                width: auto;
                min-width: 80px;
                margin: 10px 0 5px;

                .zh_hk-section-css & {
                    width: auto;
                }

                &:after {
                    display: none;
                }
            }

            h2 {
                display: none;
            }

            .error_message {
                margin-bottom: 15px;
                font-size: 12px;
            }

            .user_info {
                strong, span {
                    margin: 0 0 5px
                }
            }
        }

        span {
            max-width: 235px;
            width: auto;
            word-break: break-all;
            vertical-align: top;
            margin: 0;
            display: inline-block;
        }

        .row {
            a {
                display: inline-block;
                float: none;
                vertical-align: middle;
                width: auto;
                background: none;
                color: #000 !important;
                text-decoration: underline !important;
                font: 12px/20px $font_arial;
                line-height: 1;
                height: auto;
                margin: 0;
                padding: 0;
                border: none;
                text-align: left;
                font-weight: normal;
                text-transform: none;

                &:before {
                    display: none;
                }
            }
        }

        & > div {
            margin-bottom: 9px;
        }
    }
}

.ui-dialog.b-account_dialog {
    border: none;

    @include respond-to(phones) {
        max-width: 320px;
    }
}

.edit_account {
    width: 320px;
    margin: 0 auto;
    max-width: 100%;

    h1.account-dialog-title {
        .ui-dialog.b-account_dialog & {
            text-align: center;
            border-bottom: 1px dotted #000;
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 5px;

            @include respond-to(phones) {
                font-size: 22px;
            }
        }
    }

    .b-edit_account {
        .required_indicator {
            margin-bottom: 15px;
        }

        .field-row {
            .b-account_dialog & {
                padding: 0;
                border: none;
                margin-bottom: 15px;
            }

            .f_field {
                width: 100%;
            }
        }

        p {
            font-size: 14px;
            margin-bottom: 5px;

            a {
                color: #000;
            }
        }
    }
}

.b-account_info {
    #gigyaLoginContainerRegistration_page {
        text-align: left;
        table {
            margin: 0 auto;
            td:first-child {
                padding-left: 0 !important;
            }
        }
    }
    .loginInstruction {
        margin: 8px 0 0 0;
        font: bold 11px/14px $font_arial;
        color: #999;
        display: block;
    }

    #gigyaLoginContainerRegistration {
        table {
            position: relative;
            tr:last-child {
                td {
                    display: inline-block !important;
                    span {
                        cursor: pointer;
                        color: #000 !important;
                        padding: 0 !important;
                        text-decoration: underline !important;
                        font: normal 12px/20px $font_arial !important;
                    }
                }
            }
        }
    }
}


/*
 * Account Avatar Block (Landing Page)
 */

.b-account_avatar {
    float: right;
    width: 50%;
    text-align: center;

    @include respond-to(phones) {
        width: 100%;
        float: none;
        padding-top: 0;
    }

    img {
        width: 111px;
        height: auto;
        display: inline-block;

        @include respond-to(phones) {
            width: 100%;
        }
    }
    &-image {
        padding: 0;
        margin-top: 10px;

        @include respond-to(phones) {
            width: 120px;
            float: left;
            margin-right: 10px;
        }
    }
    .b-account_avatar-link {
        @include links (#000, underline, $color-dark_red);

        display: inline-block;
        float: none;
        font: bold 13px/16px $font_helvetica;
        letter-spacing: 0.25px;
        color: #000;
        text-decoration: underline;
        cursor: pointer;
        margin-top: 25px;

        @include respond-to(phones) {
            font-size: 14px;
            line-height: 20px;
        }

        &:hover {
            color: $color-dark_red;

            @include respond-to (phablets) {
                color: #000;
            }
        }
        &:active {
            @include respond-to (phablets) {
                color: $color-dark_red;
            }
        }
    }
    &-note {
        font: 11px/14px $font_arial;
        color: #999;
        margin-top: 10px;
        margin-bottom: 20px;

        @include respond-to(phones) {
            font-size: 12px;
            line-height: 15px;
            margin-top: 15px;
        }
    }
}

.js-upload_avatar-error {
    margin-top: 5px;
    font: normal 11px/14px $font_arial;
    color: #f00;
}
.creditcard_message_delete {
    margin-top: 5px;
    font: normal 12px/15px $font_arial;
    color: #f00;
}

/*
 * Account Address Block (Landing Page)
 */

.b-account_address {
    &-content {
        @include clearfix;

        margin: 9px 0 8px;
        padding: 12px 0 20px;
        font: 14px/20px $font_arial;
        border-top: 1px dotted #bdbdbd;
        border-bottom: 1px dotted #bdbdbd;

        @include respond-to(phones) {
            border: none;
            margin: 0 0 25px;
            padding: 0;
        }
    }
}

/*
 * Global Styles for My Account Modals and separate page based on Modals
 */

// title

.account_address_detail_page h1,
.account-dialog-title {
    margin: 0 0 5px;
    font: normal 30px/40px $font_times;
    color: #000;

    @include respond-to(phones) {
        margin-bottom: 15px;
        font: 18px/18px $font_times;
        text-transform: uppercase;
    }
}

.ui-dialog.b-account_dialog,
.ui-dialog.dialog_edit_payment,
.ui-dialog.dialog_edit_address {

    .account_address_detail_page h1,
    .account-dialog-title {
        display: block;
        padding: 14px 0 8px;
        margin: 0 0 10px;
        font: bold 22px/20px $font_times;
        text-transform: uppercase;
        border-bottom: 1px dotted #bdbdbd;
        letter-spacing: 0.5px;

        @include respond-to(phones) {
            font: bold 16px/20px $font_times;
            margin: 0 0 10px;
            padding: 20px 0 0;
            border: none;
        }
    }
}

.b-account_dialog .b-edit_account,
.b-card_form,
.account_address_detail_page {
    @include clearfix;

    .required_indicator {
        @include required;

        display: inline-block;
        position: relative;
        padding: 0 0 15px 10px;
        color: #c03;

        @include respond-to(phones) {
            font-size: 14px;
            &:before {
                font-size: 15px;
            }
        }
    }
    .f_field {
        width: 265px;
        float: left;
        padding-right: 0;
        margin-right: 10px;
        margin-bottom: 15px;

        @include respond-to(phones) {
            float: none;
            width: 100%;
            padding-right: 0;
        }
        .f_label {
            font: bold 12px/15px $font_helvetica;

            @include respond-to(phones) {
                font-size: 15px;
                line-height: 20px;
            }
            .ie8 & {
                font-weight: normal;
                font-family: $font_helvetica_b;
            }
        }

        &.required {
            .f_label {
                @include required;

                position: relative;
                padding: 0;

                &:before {
                    content: '';
                }

                &:after {
                    content: '*';
                }
            }
        }
        &.addressid {
            width: 100%;
            padding: 0 65% 0 0;

            @include respond-to(phones) {
                padding: 0;
            }
        }

        select {
            color: #757575;
            font-size: 12px;
            height: 40px;
            padding: 0 10px;
        }

        input[type='text'],
        input[type='email'],
        input[type='password'],
        input[type='tel'] {
            border-color: #dbdbdb;
            color: #757575;
            font-size: 12px;
            height: 40px;
            padding: 0 10px;
        }
    }

    .field-row {
        @include clearfix;

        padding: 15px 0 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #dbdbdb;

        @include respond-to(phones) {
            padding: 0;
            border: none;
        }
        &.last {
            border: none;
        }
    }
    .formfield_button {
        margin-top: 20px;
        float: left;
        width: 100%;

        @include respond-to(phones) {
            float: none;
            margin-top: 20px;

            .button {
                width: 100%;
            }
        }

        .button {
            width: 100%;
            height: 40px;
            font-size: 16px;
        }
    }
}

.ui-dialog.b-account_dialog {
    .ui-dialog-content {
        padding: 0 45px 35px;

        @include respond-to(phones) {
            padding: 20px;
        }
    }
}

.ui-dialog.dialog_edit_payment,
.ui-dialog.dialog_edit_address {

    .ui-dialog-titlebar {
        @include respond-to(phones) {
            padding: 0 35px 0 20px;
        }
    }

    .ui-dialog-content {
        padding: 25px 50px 35px;

        @include respond-to(phones) {
            padding: 0 25px 20px;
        }
    }
}

/*
 * Edit Account Information (Landing Page)
 */

.b-edit_account {

    @include respond-to(phones) {
        padding: 0 20px;

        .ui-dialog-content & {
            padding: 0;
        }
    }

    .ui-dialog & .required_indicator {
        padding: 0 0 0 10px;

        @include respond-to(phones) {
            padding-bottom: 15px;
        }
    }
    .field-row {
        .f_field {
            &:first-child {
                float: left;

                @include respond-to(phones) {
                    float: none;
                }
            }
            &.formfield_birthday_month {
                width: 120px;
                padding-right: 0;
                float: left;

                @include respond-to(phones) {
                    width: 40%;
                }
            }
            &.formfield_birthday_day {
                width: 83px;
                padding: 15px 0px 0px 0;
                float: left;

                .b-account_dialog & {
                    margin-right: 62px;

                    @include respond-to(phones) {
                        width: 57%;
                        width: calc(100% - 144px);
                        margin-right: 0;
                    }
                }
            }
            &.formfield_phone {
                width: 100%;
                padding-right: 0;
            }
            &.formfield_gender {
                @include respond-to(phones) {
                    float: left;
                }
            }
        }
    }
    .formfield_wrapper.formfield_phone {
        position: relative;
        width: 35%;

        @include respond-to(phones) {
            width: 100%;
        }
    }
    .note {
        font: 12px/15px $font_arial;
        color: $validation-color;
        position: absolute;
        top: 0;
        right: 0;

        @include respond-to(phones) {
            line-height: 20px;
        }
    }
}

/*
 * Add/Edit Shipping Address
 */

.account_address_detail_page {
    .legend_message,
    .custom_preferred_address_area,
    .form_field_tooltip,
    .cancel_button,
    .delete_button {
        display: none;
    }
    .formfield_address1,
    .formfield_city,
    .formfield_zip {
        clear: both;
    }
}

/*
 * Best Sellers Carousel
 */

.b-best_sellers .productcarousel {
    @extend %product-carousel-homepage;

    .jcarousel-clip {
        width: 485px;
        li {
            width: 29%;
            margin: 0 2%;
        }
        @include respond-to(tablets) {
            width: 91%;
        }
        @include respond-to(phones) {
            width: 95%;
            li {
                width: 40%;
                margin: 0 5%;
            }
        }
    }
}


.b-best_sellers {
    .account_landing_page_slot_2 {
        .productcarousel {
            .jcarousel-control {
                font-size: 16px;
            }
        }

        .jcarousel-clip {
            width: auto;
            margin: 0 20px;

            @include respond-to(phones) {
                width: auto !important;
            }

            li {
                width: 18%;
                margin: 0 1%;

                @include respond-to(phones) {
                    width: 48%;
                }
            }
        }
    }
 }

/*
 * Auto-Replenishment Landing Page
 */

.s-account-autoreplenishment {
    .l-auto_replenishment-slot {
        background: none;
        padding: 10px 20px 25px 10px;
        text-align: center;

        @include respond-to(tablets) {
            padding: 3px 0 20px;
        }
        @include respond-to(phones) {
            padding: 0 20px;
        }

        .b-auto_replenishment {
            &-page_name {
                @include respond-to(phones) {
                    display: block;
                    margin-bottom: 15px;
                    font: 18px/18px $font_times;
                    text-transform: uppercase;
                    text-align: left;
                }
            }
            &-steps {
                margin-bottom: 20px;

                @include respond-to(tablets) {
                    margin-bottom: 30px;
                }
            }
            &-logo {
                margin: 0;

                @include respond-to(tablets) {
                    width: 125px;
                }
                @include respond-to(phones) {
                    margin: 10px 10px 22px 0px;
                }
            }
            &-titleblock {
                margin: 25px 55px 24px 160px;

                @include respond-to(tablets) {
                    margin: 15px 0px 24px 120px;
                }
                @include respond-to(phones) {
                    margin: 0px 0px 22px 77px;
                }
            }
            &-title {
                padding: 0 20px;
                font-size: 40px;
                line-height: 41px;

                @include respond-to(tablets) {
                    max-width: 375px;
                    margin: 0 auto;
                    font-size: 29px;
                    line-height: 30px;
                }
                @include respond-to(phones) {
                    padding: 23px 0;
                    font-size: 17px;
                    line-height: 21px;
                    text-align: left;
                }
            }
            &-subtitle {
                font-size: 23px;
                font-family: $font_arial;

                @include respond-to(tablets) {
                    font-size: 16px;
                    padding-top: 15px;
                }
                @include respond-to(phones) {
                    display: none;
                }
            }
            &-link {
                @include button-black(0 15px);

                margin-left: 70px;

                @include respond-to(tablets) {
                    margin-left: 130px;
                }
                @include respond-to(phones) {
                    width: 100%;
                    margin: 0 0 15px;
                }
            }
            &-footer {
                font-family: $font_arial;

                @include respond-to(tablets){
                    width: 100%;
                    font-size: 12px;
                }
                @include respond-to(phones){
                    font-size: 12px;
                    margin: 20px 0;
                }
            }
        }
    }
}

/*
 * My Account Samples
 */

.b-samples {
    h1 {
        font: normal 30px/40px $font_times;
        margin: 0 0 13px;

        @include respond-to(phones) {
            margin-bottom: 15px;
            font: 18px/18px $font_times;
            text-transform: uppercase;
        }
    }
    .b-no_samples-description {
        font: 16px/20px $font_arial;
        margin-bottom: 8px;
    }
    &-description {
        font: 16px/20px $font_arial;
        padding-bottom: 10px;
    }
    &-date_block {
        @include clearfix;

        font-size: 0;
    }
    &-date {
        display: block;
        padding: 15px 0 6px;
        border-bottom: 1px solid #ccc;
        font: bold 14px/20px $font_arial;
        color: #999;

        @include respond-to(phones){
            font: 15px/20px $font_times;
            color: #000;
        }
    }
    .b-custom-product_tile-wrapper {
        float: none;
        display: inline-block;
        width: 25%;
        padding: 30px 10px 0;
        margin: 0;
        border: none;
        text-align: center;
        vertical-align: top;

        @include respond-to(tablets) {
            padding: 30px 10px 15px;
        }
        @include respond-to(phones) {
            width: 50%;
            padding: 15px 10px 25px;
            margin: 0;
            border-bottom: none;
        }

        .product_name {
            font: normal 14px/17px $font_arial;
            height: 52px;
      margin-bottom: 7px;

            @include respond-to(phones) {
                font-size: 12px;
                line-height: 14px;
                height: 42px;
            }
        }
        .product_subtitle {
            display: none;
        }
        .b-product_img {
            max-height: 100%;
        }
        .inline_rating_link {
            &:before {
                display: none;
            }
        }
    }
    .b-product_img {
        width: 106px;
        height: 118px;
        display: inline-block;
    }
    .quickviewbutton {
        top: 115px;
        bottom: auto !important;

        @include respond-to(phones) {
            @include button-black(0 10px, 12px, 28px);

            display: block !important;
            position: static;
            height: auto;
        }
    }
    .fullsize_productimage_for_sample {
        display: none;
    }
    @include respond-to(phones) {
        &-content {
            border-top: 1px dotted #ccc;
        }
        .js-accordion-title {
            padding: 10px 30px 10px 0;
            border-bottom: 1px dotted #ccc;
            cursor: pointer;

            &:after {
                font-size: 18px;
                right: 0;
            }
        }
        .js-expanded {
            .js-accordion-title {
                border-bottom: none;
                cursor: default;
            }
            .js-accordion-content {
                border-bottom: 1px dotted #ccc;
            }
        }
    }
}

/*
 * My Account Samples
 */

.loyalty_next_tier_logo {
    text-align: center;
    margin: 30px 0;
}

.loyalty_next_tier_product {
    margin: 0 -5px;

    .jcarousel-clip {
        ul {
            li {
                width: 33.333333%;
                padding: 0 5px;
                text-align: center;

                @include respond-to(tablets) {
                    width: 50%;
                }

                @include respond-to(phones) {
                    width: 100%;
                }

                .product_tile {
                    position: relative;
                    border: 1px solid #ccc;

                    img {
                        width: 100px;
                        margin: 15px 0;
                        max-width: 90%;
                    }
                }

                .product_info {
                    font: 12px/18px $font_helvetica;
                    background: #000;
                    color: #fff;
                    display: table;
                    width: 100%;
                    height: 54px;

                    p {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }

                storng {
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    font-size: 16px;
                    font-weight: bold;
                    color: #e51a38;

                    &:after {
                        background: url(../../images/k-icon.png);
                        content: '';
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        margin: 0 0 0 3px;
                    }
                }
            }
        }
    }
}

/*
 * My Account Samples
 */

.mobile-menu-section {
    margin: -20px -20px 0;

    ul {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;

        li {
            width: 50%;
            float: left;
            text-align: center;

            a {
                display: block;
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                font-family: $font_helvetica;
                border: 1px solid;
                border-left: none;
                border-right: none;
                height: 50px;
                padding: 0 10px;
                line-height: 46px;
                border-color: #000;
                background: #fff;
                color: #000;
                font-size: 14px;

                &.selected {
                    background: #000;
                    color: #fff;
                }
            }
        }
    }
}

.pt_iframe_empty {
    background: none;
    
    .social-loader {
        position: relative;
        padding: 75px 20px 20px;
        text-align: center;
        color: #000;
        font: normal 18px/20px $font_times;

        .loader_indicator {
            top: 50px;
        }
    }

    .connection-error-message {
        margin: 15px 60px;
        padding: 15px 20px;
        background: #f00;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        font-family: $font_helvetica;
        text-align: center;
    }
}
