/*
 My Account - My Rewards
 */

.s-account_myrewards-landing {
    .g-page_myaccount-inner {
        width: 100% !important;
    }
    .b-rewards_earn {
        display: none !important;
    }
}
.b-account {
    &_rewards-banner {
        position: relative;
    }
    &_rewards-topbanner {
        border: 3px solid #c00;
        outline: 2px solid #000;
    }
    &_rewards-container {
        @include clearfix;

        padding: 25px 25px 16px 25px;
        border: 1px solid #000;
        color: #000;
        .b-rewards_info {
            width: 240px;
            float: left;

            @include respond-to(phones) {
                width: 170px;
            }
            .b-rewards_username {
                font: italic normal 16px/18px $font_times;

                @include respond-to(phones) {
                    font-size: 15px;
                    line-height: 19px;
                }
            }
        }
        .b-rewards_points {
            padding: 15px 0 0 0;
            width: 140px;
            float: right;
            text-align: center;

            @include respond-to(phones) {
                width: 50px;
            }
            &-logo {
                @include background-img('rewards_logo_s.png');

                position: absolute;
                margin: 0;
                top: -11px;
                right: 60px;
                width: 75px;
                height: 75px;
                background-size: 100% auto;

                @include respond-to(phones) {
                    right: 17px;
                }
            }
        }
        .b-rewards_current {
            margin: 5px 0;
            font: bold 14px/16px $font_arial;
            text-transform: uppercase;

            @include respond-to(phones) {
                font-size: 12px;
                line-height: 15px;
            }
        }
        .b-rewards_date {
            font: normal 12px/18px $font_arial;
        }
        .b-rewards_count {
            font: bold 30px/36px $font_arial;
            text-transform: uppercase;
            color: #00777b;

            @include respond-to(phones) {
                font-size: 20px;
                line-height: 26px;
            }
            span {
                font: bold 12px/16px $font_arial;
                text-transform: uppercase;
                letter-spacing: 1.2px;
                display: block;
                color: #c00;

                @include respond-to(phones) {
                    font-size: 10px;
                    line-height: 14px;
                }
            }
        }
    }
}

.b-rewards_earn {
    margin: 15px 0 45px 0;
    font: normal 12px/18px $font_arial;
    a {
        @include links(#000, underline, $color-dark_red);

    }
}

.b-rewards-landing {
    @include background-img('account_bg_wrapper.jpg');

    padding: 30px;

    @include respond-to(phones) {
        padding: 210px 0px 0px;
        margin: -20px;
        background-size: 100% auto;
    }
    &_container {
        @include background-img('rewards_bg.png');

        position: relative;
        margin: 0;
        padding: 25px 20px 30px 20px;
        border: 2px solid #645c53;
        background-repeat: repeat;

        @include respond-to(phones) {
            border: none;
            border-top: 2px solid #000;
        }

        .b-rewards_actions {
            margin: 20px 0 0 0;
            text-align: center;
            button {
                @include button-black( 0 25px, 14px );

                @include respond-to(phones) {
                    width: 100%;
                }
            }
        }
    }
    &_top {

        @include respond-to(phones) {
            text-align: center;
        }
        h1 {
            margin: 0 0 10px 0;
            color: #000;
            text-transform: uppercase;
            font: bold 20px/22px $font_times;

            @include respond-to(phones) {
                font-size: 18px;
                line-height: 23px;
                margin: 0px 0px 5px;
            }
        }
        .b-rewards_description {
            color: #000;
            font: normal 14px/18px $font_times;
        }
        .b-rewards_logo {

            @include respond-to(phones) {
                position: relative;
                width: 100%;
                margin: 0;
                img {
                    position: absolute;
                    top: -154px;
                    width: 280px;
                    margin: 0 0 0 -140px;
                    left: 50%;
                }
            }
        }
        .b-rewards_content {

            @include respond-to(phones) {
                width: 100%;
                text-align: center;
                padding: 50px 0 0 0;
            }
        }
    }
    &_middle {
        .b-rewards_band {
            padding: 8px 0;
            margin: 20px 0;
            border-top: 1px dotted #c00;
            border-bottom: 1px dotted #c00;
            font: bold 22px/24px $font_times;
            text-transform: uppercase;
            text-align: center;
        }
    }
    &_bottom {
        ul {
            padding: 0px 30px 0px 15px;
            margin: 0px;
            display: inline-block;
            list-style: outside disc;
            vertical-align: top;
            li {
                padding: 3px 0px;
                color: #000;
                font: normal 12px/16px $font_helvetica;
            }
        }
        .g-width_50 {

            @include respond-to(phones) {
                width: 100%;
            }
        }
    }
}
/*My Rewards Iframe*/
#ff_member_iframe {
    width: 100% !important;
}
/*END My Rewards Iframe*/