/*
 * Order History
 */

.b-orders_history {
	h1 {
		margin: 0 0 5px 0;
		font: normal 30px/40px $font_times;
		color: #000;
	}
	&-descriptions {
		margin: 0 0 25px 0;
		font: normal 16px/17px $font_arial;
	}
	&-no_order {
		margin: 9px 0 8px;
		padding: 12px 0 20px;
		font: 14px/20px $font_arial;
		border-top: 1px dotted #bdbdbd;
		border-bottom: 1px dotted #bdbdbd;
	}
	&-external_order {
		margin-top: 10px;
		text-align: right;
		font: bold 12px/14px $font_arial;
		color: #999;

		@include respond-to(phones) {
			text-indent: -10000px;
			font-size: 0;
		}
		a {
			@include links(#000, underline, $color-dark_red);

			margin: 0 0 0 5px;
			font-weight: normal;

			@include respond-to(phones) {
                @include button();
                @include button-color-black();
                @include button-general(0 10px);

				width: 100%;
				color: #fff !important;
				text-indent: 0;
				text-decoration: none !important;
			}
		}
	}
	&-items_container {
		position: relative;
		min-height: 100%;

		@include respond-to(phones) {
			margin: 0 0 25px 0px;
		}
	}
}

.b-account_landing-orders {
	h3 {
		display: inline-block;
		font: bold 16px/20px $font_times;
		text-transform: uppercase;
		letter-spacing: 0.5px;

		@include respond-to(phones) {
			font-size: 18px;
			letter-spacing: 0;
			margin-bottom: 20px;
		}
	}
	.dialogify {
		@include links(#000, underline, $color-dark_red);

		float: right;
		font: 12px/20px $font_arial;

		@include respond-to(phones) {
            @include button();
            @include button-color-black();
            @include button-regular(0 12px);

			width: 100%;
			margin-bottom: 35px;
			float: none;
			color: #fff !important;
			text-decoration: none !important;
		}
	}
	.b-orders_history {
		margin: 0 0 8px;
		padding: 0 0 40px;
		border-bottom: 1px dotted #bdbdbd;
		&-content {
			margin: 9px 0 8px;
			padding: 12px 0 5px;
			font: 14px/20px $font_arial;
			border-top: 1px dotted #bdbdbd;

			@include respond-to(phones) {
				margin: 0;
				padding: 0;
				border-top: none;
			}
		}
		&-items {
			display: none;
		}
		&-table {
			display: table;
		}
	}
}

.b-orders_history-table {
	width: 100%;
	thead {
		tr {
			border-bottom: 1px solid #000;
		}
		.b-total_price {
		    min-width: 95px;
		}
	}
	tbody {
		tr {
			&:nth-child(2n+1) {
				background: #fafaf8;
			}
			&:last-child {
				border-bottom: 1px solid #000;
			}
		}
		td {
			vertical-align: top;
			&:first-child {
				min-width: 130px;
			}
			&:last-child {
				font-weight: bold;
			}
		}
	}
	th {
		padding: 5px 5px 10px 5px;
		font: bold 14px/16px $font_arial;
		vertical-align: top;
		text-align: left;
		color: #000;
	}
	td {
		padding: 10px 5px;
		font: normal 14px/16px $font_arial;
		text-align: left;
		color: #000;
		&:last-child {
			font-weight: bold;
		}
		.order_status {
			.label {
				display: none;
			}
			.value {
				font-weight: bold;
			}
		}
		.order_history_header {
			font: bold 12px/16px $font_arial;
			color: #000;
			.button {
				@include links(#000, underline, $color-dark_red);

				background: transparent;
				border: none;
				text-decoration: underline;
			}
		}
	}
}

.b-orders_history-mobile {
	font: normal 14px/20px $font_arial;
	&_item {
		padding: 0 0 10px 0;
		margin: 0 0 10px 0;
	}
	&_item-row {
		padding: 3px 0;
		.order_history_header {
			.button {
                @include button();
                @include button-color-black();
                @include button-regular(0 15px);

				width: 100%;
				margin: 5px 0 0 0;
			}
		}
	}
	.order_status {
		.label {
			display: none;
		}
	}
	.label {
		position: relative;
		margin: 0 5px 0 0;
		font-weight: bold;
		display: inline-block;
		float: left;
		&:after {
			content: ":";
		}
	}
}

.b-account_landing {
	.b-orders_history-mobile_item {
		display: none;
		&:first-child {
			padding: 0;
			margin: 0;
			display: block;
			border: none;
		}
		.b-order_detail {
			display: none;
		}
	}
}

.ui-dialog {
	.b-orders_history {
		h3 {
			margin: 0 0 15px 0;
			padding: 0;
			letter-spacing: 0.5px;
			font: bold 16px/20px $font_times;
			text-transform: uppercase;
		}
		.dialogify {
			display: none;
		}
	}
}

