/*
 * My account. Password reset
 */

.ui_resetpassword_dialog {
	.ui-dialog-content {
		max-height: none !important;
	}
}

.password_reset_page {
	text-align: center;

	h1 {
		display: none;
	}

	.message {
		margin: 0 0 10px;
		padding: 70px 0;
		font: normal normal 24px/32px $font_times; // 30px/46px in designs. But this size is unsuitable for the long text (FR-REW-2.6).

		@include respond-to(phones) {
			font-size: 20px;
			line-height: 1; // 17px in designs. But text had hardly readable.
			text-align: center;
			padding: 98px 0 117px;
		}
	}
	.button {
		@include button-forward(0 47px, 18px);
	}

	// Success block button

	@include respond-to(phones) {
		.button {
            @include button-size(0 15px 0 0, 20px, 45px);
            width: 100%;
            margin: 0;
            overflow: hidden;
		}
	}

}

.g-page_myaccount .request_password_page,
.password_reset_page {
	width: 45%;
	padding: 50px 0 30px;

	@include respond-to(tablets) {
		width: 60%;
	}

	@include respond-to(phones) {
		width: 100%;
		margin: 0 0 10px;
		padding: 50px 20px 20px;
	}

	form .formfield_button .cancel_button {
		display: none;
	}
}

.request_password_page {
	@include clearfix;

	padding-right: 40px;

	@include respond-to(phones) {
		padding-right: 0;
	}

	h1 {
		margin: 7px 0 0;
		font-size: 26px;
		line-height: 29px;
		font-weight: normal;
		text-align: left;

		@include respond-to(phones) {
			font-size: 20px;
			line-height: 17px;
			text-align: center;
			margin-top: 11px;
		}
	}

	.message {
		font-size: 16px;
		line-height: 20px;
	}

	form {
		.f_field {
			margin: 17px 0;
			padding: 28px 0 31px;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			text-align: center;
			position: relative;

			@include respond-to(phones) {
				padding-bottom: 50px;
				margin-bottom: 28px;
				text-align: left;
			}

			.f_label {
				display: inline-block;
				margin: 0 5px 7px 0;
				font-weight: bold;
				width: 90px; // normalize font rendering. Req for error position
			}

			.textinput {
				display: inline-block;
				width: 245px;

				@include respond-to(phones) {
					width: 100%;
				}
			}

			.error_message {
				position: relative;
				left: 48px;
				width: 249px;
				margin: 8px auto 0;
				text-align: left;

				&:before {
                    @include sprite-image($global-error-icon);
                    @include sprite-position($global-error-icon);

                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin-top: -11px;
                    display: none;
				}

				@include respond-to(phones) {
					left: 0;
					width: auto;
					margin: 10px 15% 0;
				}
			}
		}

		// main buttons

		.formfield_button {
			float: right;
			padding-bottom: 5px;
			margin-bottom: 0;

			.cancel_button {
				@include button-back(0 47px, 18px);

				margin: 0 10px 0 0;
			}

			.submit_button {
				@include button-forward(0 47px, 18px);;
			}

			@include respond-to(phones) {
				@include flex-parent(column-reverse);
				float: none;

				.button {
                    @include button-size(0 15px);

					white-space: nowrap;
					overflow: hidden;
					width: 100%;
					margin: 0 0 7px;
				}

			}
		}
		// /.formfield_button

	}
}

.request-password-page_success {
	padding: 40px 30px;

	h1 {
		margin: 0 0 20px;
		text-align: left;
		font: bold 20px/22px $font_times;
	}

	p {
		font: 12px/15px $font_helvetica;
	}
}

/*
 * Set new password page
 */

.resset_password {
	.g-page_myaccount {
		background: #fff;
		padding: 20px 30px 10px;
	}
}

.set_new_password_page {
	width: 45%;

	@include respond-to(phones) {
		width: 100%;
	}

	h1 {
		padding: 0 0 15px;
		margin: 0 0 15px;
		font-size: 20px;
		font-weight: bold;
		line-height: 22px;
		text-align: left;
		font-family: $font_times;
		border-bottom: 1px dotted #ccc;
	}

	// validation

	.error_message {
		display: none;
		position: static;
		margin-top: 6px;
	}

	.f_state_error .error_message {
		display: block;
	}

	// submit

	.button {
		width: 100%;
	}

}
