/*
 * Forms
 * Import all form's SCSS styling
 */

@import './form_elements/buttons';
@import './form_elements/checkboxes';
@import './form_elements/radiobuttons';
@import './form_elements/selectboxes';
@import './form_elements/placeholders';
@import './form_elements/textareas';
@import './form_elements/textinputs';
@import './form_elements/validation';

form {
	font-family: $font_helvetica;
}

fieldset {
	padding:0;
	border:0;
	margin:0;
}

.f_field,
.formfield {
	@include clearfix;

	position: relative;
	margin: 0 0 15px;
	padding: 0;
	outline: 0;
}

.f_label {
	display: block;
	margin: 0 0 5px;
}

.f_field_hidden {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	clip: rect(0,0,0,0);
}

.f_smallprint {
	color: #434343;
	font-size: 11px;
	line-height: 17px;
}

.f_un-emph {
	font-style: normal;
	color: #999;
}

// Particular Pro form

.signup_container {

	.f_field {
		padding: 0;
		margin: 0 0 8px;

		@include respond-to(phones) {
			margin-bottom: 18px;
		}
	}

	.f_label {
		display: block;
		margin: 0 0 6px;
		font: normal bold 12px/16px $font_helvetica;

		.ie8 & {
			font-weight: normal;
			font-family: $font_helvetica_b;
		}

		@include respond-to(phones) {
			font-size: 15px;
		}
	}
}

.formfield_phone {
    .formfield_description {
        color: #999;
        font: normal 11px/13px $font_helvetica;
        display: block;
        margin: 4px 0 0;
    }
}
