/*
 * Rewards loyalty landing
 */

.rewards-loyalty-landing {
    padding: 10px 0 0 0;
    position: relative;

    .rewards-wrapper {
        position: relative;

        .top {
            position: relative;

            .rewards-sign-in {
                position: absolute;
                left: 27.8%;
                top: 68.3%;
                width: 15.8%;
            }

           .rewards-join-now {
                position: absolute;
                left: 55.4%;
                top: 68.3%;
                width: 15.8%;
            }
        }

        .join {
            position: relative;

            .rewards-join-kiehls {
                position: absolute;
                left: 34.2%;
                top: 85%;
                width: 31.9%;
            }
        }

        .track {
            position: relative;

            .rewards-view-history {
                position: absolute;
                left: 71.5%;
                top: 32.5%;
                width: 22.2%;
            }

            .rewards-view-details {
                position:absolute;
                left:73%;
                top:73.5%;
                width:19.36%
            }
        }

        .details {
            background-color: #33ab9f;
            color: #fff;
            display: none;
            padding: 20px;

            h2 {
                color: #fff;
                font-size: 22px;
                margin: 0 0 20px 2.7%;
                text-transform: uppercase;
            }

            ul {
                font-size: 14px;
                list-style: disc outside none;
                margin: 10px 0 10px 2.7%;

                li {
                    margin: 10px 0;

                    a, a:visited {
                        color:#fff;
                    }
                }
            }
        }
    }

    .rewards-wrapper-mobile {
        position: relative;

        .top {
            position: relative;

            .rewards-sign-in {
                position: absolute;
                left: 4.3%;
                top: 31%;
                width: 38.4%;
            }

            .rewards-join-now {
                position: absolute;
                left: 56.1%;
                top: 31%;
                width: 38.4%;
            }
        }

        .earn,
        .enjoy,
        .achieve {
            position: relative;
        }

        .text-more {
            display: none;
        }

        .more {
            bottom: -20px;
            cursor: pointer;
            left: 44%;
            position: absolute;
            z-index: 2;
        }

        .rewards {
            position: relative;

            .rewards-join-kiehls {
                position: absolute;
                left: 11%;
                top: 78.6%;
                width: 77.7%;
            }
        }

        .vip-rewards {
            position: relative;

            .rewards-join-kiehls {
                position: absolute;
                left: 11%;
                top: 83.5%;
                width: 77.7%;
            }
        }

        .track {
            position: relative;

            .rewards-view-history {
                position: absolute;
                left: 22.6%;
                top: 67%;
                width: 54.1%;
            }
        }

        .learn {
            position: relative;

            .rewards-view-details {
                position: absolute;
                left: 26.2%;
                top: 57.2%;
                width: 47.2%;
            }
        }

        .details {
            background-color:#33ab9f;
            color: #fff;
            display: none;
            padding: 0 10px 10px 10px;

            h2 {
                color: #fff;
                font-size: 16px;
                text-transform: uppercase;
            }

            ul {
                font-size: 14px;
                list-style: disc outside none;
                margin: 10px 0 10px 16px;

                li {
                    margin: 10px 0;

                    a, a:visited {
                        color:#fff;
                    }
                }
            }
        }
    }
}

.l-rewards_wrapper {
    .g-wrapper_inner-main_content {
        @include respond-to(phones) {
            padding: 0;
        }
    }
}

.util_dialog_confirm {
    color: #000;
    font: normal 12px/16px $font_helvetica;
    .ui-dialog-buttonpane {
        padding: 20px;
        text-align: right;
        .ui-dialog-buttonset {
            margin: 30px 0 0 0;
            button {
                @include button-black();

                margin: 0 0 10px 10px;
            }
            @include respond-to(phones) {
                button {
                    width: 100%;
                    margin: 0 0 10px 0;
                }
            }
        }
    }
}
